/* MOVE COMMON STYLES IN COMMON.CSS & Plz remove unnecessary properties and attributes */

/* Try to make css definitions uniform as in cardStyle, dispNone versus app-logo col-left */

.app-header {
    background-color: #263238;
    height: 36px;
}

.app-logo {
    color: #fff;
    font-size: 18px;
    vertical-align: center;
}


