.cardSytle {
    color:blue;
}
.row {
    display:flex;
    height: 200px;
}
.row1 {
    display:flex;
    height:100%;
}


.column-left {
    width:15%;
    
}

.column-center {
width:70%;
}

.column-right {
    width:15%;
    
}
.col-left {
    width:10%;
height:50%;
}
.col-center {
    width:40%;
    
}
.col-right {
    width:40%;
  
}
.col-l {
    width:30%;
}
.col-c {
    width:30%;
}
.col-r {
    width:40%;
}
.row-one {
    height:30%;
    align-items: flex-start;
    display:flex;
    font-size: 22px;
    font-style: bold;
}

.row-two {
    height:30%;
    display:flex;
    align-items:center;
    font-size: 18px;
}

.row-three {
    height:40%;
    display:flex;
    align-items: flex-end;
    font-size: 24px;
}
