/* DELETE COMMENT LATER **CSS Code to be written for Header.css */

.app-header {
    background-color: #263238;
    height: 36px;
    
}

.app-logo {
    color: #fff;
    font-size: 18px;
    vertical-align: center;
    
}
.red {
    color:red;
}